html, body, #root {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

h1 {
    margin:0;
}

#LoginScreenDiv, #CreateNewAccountDiv {
    width:100vw;
    height:100vh;
    background-image:url("./assets/LoginBackgroundImage.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
}

#LoginScreenDiscordLogo, #CreateNewAccountDiscordLogo {
    width:50px;
    height:50px;
    border-radius:50%;
    top:50px;
    left:50px;
    position:absolute;
}

#LoginMainDiv {
    background-color:#42434a;
    height:550px;
    width:800px;
    border-radius:10px;
    box-shadow:0px 0px 10px black;
    margin:auto;
    display:block;
}

.LoginTextDivClass, .CreateNewAccountTextDivClass, .CreateNewAccountErrorDiv, .UpdateAccountErrorDiv, .CreateNewServerErrorDiv, .ServerSettingsErrorDiv, .CreateChannelErrorDiv, .EditChannelErrorDiv {
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    color:white;
    font-weight:bold;
}

.CreateNewAccountErrorDiv {
    font-size:15px;
    text-align:center;
    width:90%;
    display:block;
    margin:15px auto 15px auto;
}

.UpdateAccountErrorDiv, .CreateNewServerErrorDiv, .ServerSettingsErrorDiv, .CreateChannelErrorDiv, .EditChannelErrorDiv {
    font-size:15px;
    text-align:center;
    width:80%;
    display:block;
    margin:15px auto 15px auto;
}

#LoginTextDiv1 {
    font-size:25px;
    margin:auto;
    display:block;
    text-align:center;
    padding-top:15px;
}

#LoginTextDiv2 {
    font-size:15px;
    margin:auto;
    display:block;
    text-align:center;
    padding-top:15px;
}

#LoginTextDiv3, #LoginTextDiv4, #CreateNewAcountTextDiv2, #CreateNewAcountTextDiv3, #CreateNewAcountTextDiv4 {
    width:90%;
    margin:auto;
    font-size:15px;
    display:block;
    text-align:left;
    padding-top:15px;
    padding-bottom:15px;
}

.LoginDivInputClass, .CreateNewAccountInputClass{
    background-color:#3f3f46;
    border:1px solid white;
    border-radius:10px;
    width:90%;
    margin:auto;
    display:block;
    height:35px;
    color:white;
}

.UserSettingsInputClass, .CreateNewServerInputClass, .ServerSettingsInputClass, .CreateChannelInputClass, .EditChannelInputClass {
    background-color:#3f3f46;
    border:1px solid white;
    border-radius:10px;
    width:80%;
    margin:25px auto 25px auto;
    display:block;
    height:35px;
    color:white;
}

#UserSettingsBiographyTextArea, #ServerSettingsDescriptionTextArea, #CreateChannelDescriptionTextArea, #EditChannelDescriptionTextArea {
    width:80%;
    height:100px;
    margin:25px auto 25px auto;
    display:block;
    resize:none;
    color:white;
    font-size:15px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    background-color:#3f3f46;
    border:1px solid white;
    border-radius:10px;
}

.LoginDivInputClass::placeholder, .CreateNewAccountInputClass::placeholder, .UserSettingsInputClass::placeholder, #UserSettingsBiographyTextArea::placeholder, .CreateNewServerInputClass::placeholder, .ServerSettingsInputClass::placeholder, #ServerSettingsDescriptionTextArea::placeholder, .CreateChannelInputClass::placeholder, #CreateChannelDescriptionTextArea::placeholder, .EditChannelInputClass::placeholder, #EditChannelDescriptionTextArea::placeholder {
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
}

.InvalidInput {
    background-color:#3f3f46 !important;
    border:1px solid red !important;
    border-radius:10px !important;
    width:90% !important;
    margin:auto !important;
    display:block !important;
    height:35px !important;
    color:white !important;
}

.InvalidInput2 {
    background-color:#3f3f46 !important;
    border:1px solid red !important;
    border-radius:10px !important;
    width:80% !important;
    margin:25px auto 25px auto !important;
    display:block !important;
    height:35px !important;
    color:white !important;
}

.InvalidInput3 {
    background-color:#3f3f46 !important;
    border:1px solid red !important;
    border-radius:10px !important;
    width:80% !important;
    margin:25px auto 25px auto !important;
    display:block !important;
    height:100px !important;
    color:white !important;
}

#LoginTextDiv5 {
    font-size:15px;
    margin:auto;
    display:block;
    text-align:center;
    padding-top:15px;
}

.LoginDivInputClass:focus, .CreateNewAccountInputClass:focus, .UserSettingsInputClass:focus, #UserSettingsBiographyTextArea:focus, .CreateNewServerInputClass:focus, .ServerSettingsInputClass:focus, #ServerSettingsDescriptionTextArea:focus, .CreateChannelInputClass:focus, #CreateChannelDescriptionTextArea:focus, .EditChannelInputClass:focus, #EditChannelDescriptionTextArea:focus {
    border-color:#2684FF;
    outline:none;
    box-shadow:0px 0px 10px #2684FF;
}

.InvalidInput:focus {
    border-color:red !important;
    outline:none !important;
    box-shadow:0px 0px 10px red !important;
}

.InvalidInput2:focus {
    border-color:red !important;
    outline:none !important;
    box-shadow:0px 0px 10px red !important;
}

.InvalidInput3:focus {
    border-color:red !important;
    outline:none !important;
    box-shadow:0px 0px 10px red !important;
}

.LoginScreenDivButtonClass, .CreateNewAccountButtonClass, .CreateNewServerButtonClass, .ServerSettingsButtonClass, .CreateChannelButtonClass, .UpdateChannelButtonClass {
    background-color:#616fff;
    border:none;
    width:90%;
    display:block;
    margin:25px auto 25px auto;
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    border-radius:10px;
    height:50px;
}

.LoginScreenDivButtonClass:hover, .CreateNewAccountButtonClass:hover, .CreateNewServerButtonClass:hover, .ServerSettingsButtonClass:hover, .CreateChannelButtonClass:hover, .UpdateChannelButtonClass:hover {
    cursor:pointer;
    background-color:#4f56c2;
    transition:background-color 0.5s ease;
}

.InvalidInputButton {
    background-color:red;
    border:none;
    width:90%;
    display:block;
    margin:25px auto 25px auto;
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    border-radius:10px;
    height:50px;
}

.InvalidInputButton:hover {
    cursor:pointer;
    background-color:darkred;
    transition:background-color 0.5s ease;
}

#CreateNewAccountMainDiv {
    background-color:#42434a;
    height:600px;
    width:500px;
    border-radius:10px;
    box-shadow:0px 0px 10px black;
    margin:auto;
    display:block;
}

#CreateNewAcountTextDiv1 {
    font-size:25px;
    margin:auto;
    display:block;
    text-align:center;
    padding-top:15px;
}

#MainPageDiv {
    background-color:#232325;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
}

#HeaderBar {
    width:100%;
    background-color:#232325;
    height:35px;
    text-align:center;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    color:white;
    line-height:35px;
    font-size:20px;
}

#MainContainerDiv {
    flex:1;
    width:100%;
    display:flex;
}

#ServersContainerDiv {
    width:75px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:12.5px 0;
    gap:10px;
}

#DirectMessageButtonDivContainer, .serverIconDiv, #UserSettingsDiv, #CreateNewServerDivContainer {
    width:50px;
    height:50px;
    background-color:#3a3b3c;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:15px;
}

#DirectMessageButton, #UserSettingsButton, .serverIconImage {
    width:75%;
    height:75%;
    object-fit:contain;
}

#DirectMessageButtonDivContainer:hover, .serverIconDiv:hover, #UserSettingsDiv:hover, #CreateNewServerDivContainer:hover {
    cursor:pointer;
    background-color:#2684FF;
    transition:background-color 0.5s ease;
}

#DirectMessageButtonDivContainer:hover #DirectMessageButton, .serverIconDiv:hover .serverIconImage {
    animation:rotateOnHover 1s ease-in-out;
}

.ServerListDivider {
    background-color:#3a3b3c;
    width:50px;
    height:2px;
}
#ServersDiv {
    flex:1;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

@keyframes rotateOnHover {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.toolTipWrapper {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.toolTip {
    position:absolute;
    left:55px;
    top: 50%;
    transform:translate(-10px, -50%);
    background:#3a3b3c;
    color:white;
    padding:10px;
    font-size:15px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    border-radius: 10px;
    white-space:nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

.toolTipWrapper:hover .toolTip {
    opacity: 1;
    transform: translate(0px, -50%);
}

#UserSettingsScreenDiv, #CreateNewServerScreenDiv, #ServerSettingsScreenDiv, #CreateChannelsScreenDiv, #EditChannelScreenDiv {
    position:fixed;
    top:35px;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.75);
    z-index:999;
    display:flex;
    justify-content:center;
    align-items:center;
}

#UserSettingsMainContainerDiv, #ServerSettingsMainContainerDiv {
    background-color:#232325;
    height:80%;
    width:600px;
    margin:auto;
    display:block;
    border-radius:10px;
}

#CreateNewServerScreenMainContainerDiv {
    background-color:#232325;
    height:425px;
    width:600px;
    margin:auto;
    display:block;
    border-radius:10px;
}

#CreateChannelsMainContainerDiv, #EditChannelMainContainerDiv {
    background-color:#232325;
    height:600px;
    width:400px;
    margin:auto;
    display:block;
    border-radius:10px;
}

#UserSettingsHeaderDiv, #CreateNewServerScreenHeaderDiv, #ServerSettingsHeaderDiv, #CreateChannelHeaderDiv, #EditChannelHeaderDiv {
    width:100%;
    height:50px;
    border-bottom:1px solid white;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:25px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    position:relative;
}

#UserSettingsExitButton, #CreateNewServerExitButton, #ServerSettingsExitButton, #CreateChannelExitButton, #EditChannelExitButton {
    position:absolute;
    right:0px;
    width:20px;
    height:20px;
    margin-right:10px;
    padding:5px;
    border-radius:10px;
    background-color:#3a3b3c;
}

#UserSettingsExitButton:hover, #CreateNewServerExitButton:hover, #ServerSettingsExitButton:hover, #CreateChannelExitButton:hover, #EditChannelExitButton:hover {
    cursor:pointer;
    background-color:#2684FF;
    transition:background-color 0.5s ease;
}

.UserSettingsLabelClass, .CreateNewServerLabelClass, .ServerSettingsLabelClass, .CreateChannelLabelClass, .EditChannelLabelClass {
    color:white;
    font-size:15px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    width:80%;
    margin:auto;
    height:25px;
    line-height:25px;
    text-align:left;
    border-bottom:1px solid white;
}

#UserSettingsPFP, #CreateNewServerIconImage, #ServerSettingsIcon {
    width:100px;
    height:100px;
    border:3px solid white;
    border-radius:100%;
    display:block;
    margin:15px auto 15px auto;
    transition:filter 0.5s ease;
}

#UserSettingsPFP:hover, #CreateNewServerIconImage:hover, #ServerSettingsIcon:hover {
    cursor:pointer;
    filter:brightness(50%);
}

#ServerSettingsThumbnail {
    width:300px;
    height:150px;
    border:3px solid white;
    border-radius:10px;
    display:block;
    margin:15px auto 15px auto;
    transition:filter 0.5s ease;
    object-fit:cover;
}

#ServerSettingsThumbnail:hover {
    cursor:pointer;
    filter:brightness(50%);
}

#UserSettingsUsernameLabel {
    text-align:center;
}

#UserSettingsSaveChangesButton, #UserSettingsLogOutButton, #CreateNewServerButton, #CreateNewChannelsButton, #CreateChannelButton, #UpdateChannelButton {
    width:80%;
    margin:15px auto 15px auto;
}

#UserStatusDiv {
    width:80%;
    display:flex;
    margin:15px auto 15px auto;
    justify-content:space-evenly;
}

.UserStatusLabel {
    font-size:15px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
}

#OnlineStatusLabel {
    color:#23a55a;
}

#DoNotDisturbStatusLabel {
    color:#f23f42;
}

#IdleStatusLabel {
    color:#f0b232;
}

#InvisibleStatusLabel {
    color:#80848e;
}

#CurrentServerMainContainerDiv {
    background-color:#232325;
    display:flex;
    width:100%;
    height:100%;
}

#ChannelsMainContainerDiv {
    width:300px;
    background-color:#232325;
    border-top:1px solid #3f3f46;
    border-left:1px solid #3f3f46;
    border-top-left-radius: 10px;
    display:flex;
    flex-direction:column;
    min-height:0;
}

#TextChatMainContainerDiv {
    flex:1;
    background-color:#232325;
    border-top:1px solid #3f3f46;
    border-left:1px solid #3f3f46;
    display:flex;
    flex-direction:column;
    min-width:0;
}

#TextChatHeaderDiv {
    height:60px;
    width:100%;
    border-bottom:1px solid #3f3f46;
    display:flex;
    align-items:center;
    flex-shrink:0;
}

#TextChatChannelNameDiv {
    color:white;
    font-size:15px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    width:300px;
    margin:5px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

#TextChatChannelDescriptionDiv {
    margin:5px;
    width:100%;
    height:40px;
    resize:none;
    color:white;
    font-size:15px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    background-color:#232325;
}

#TextChatChannelDescriptionDiv:hover {
    cursor:default;
}

#TextChatChannelDescriptionDiv::placeholder {
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
}

#TextChatChannelDescriptionDiv:focus {
    outline:none;
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
}

#PlayerListMainContainerDiv {
    width:240px;
    background-color: #232325;
    border-top:1px solid #3f3f46;
    border-left:1px solid #3f3f46;
}

#ServerIconSettingNameDiv {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #3f3f46;
}

#ServerIcon {
    width:40px;
    height:40px;
    margin:5px;
    padding:5px;
    flex-shrink:0;
}

#ServerNameDiv {
    color:white;
    font-size:20px;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-weight:bold;
    flex:1;
    min-width:0;
    text-align:center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

#ServerSettingIcon {
    width:40px;
    height:40px;
    margin:5px;
    padding:5px;
    border-radius:100%;
    flex-shrink:0;
}

#ServerSettingIcon:hover {
    cursor:pointer;
    background-color:#2684FF;
    transition:background-color 0.5s ease;
    animation:rotateOnHover 1s ease-in-out;
}

#ServerThumbnailIconDiv {
    width:100%;
    height:150px;
    padding:5px;
    box-sizing:border-box;
    border-bottom:1px solid #3f3f46;
}

#ServerThumbnailIcon {
    object-fit:cover;
    width:100%;
    height:100%;
}

#ServerDescriptionDiv {
    width:100%;
    height:100px;
    padding:5px;
    box-sizing:border-box;
    border-bottom:1px solid #3f3f46;
}

#ServerDescriptionTextArea {
    cursor:default;
    resize:none;
    border:1px solid #3f3f46;
    background-color:#232325;
    width:100%;
    height:100%;
    box-sizing:border-box;
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    font-size:15px;
}

#ServerDescriptionTextArea:focus {
    outline:none;
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
}

#ServerDescriptionTextArea::placeholder {
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
}

#ChannelsMainDiv {
    width:100%;
    flex:1;
    min-height:0;
    overflow-y:auto;
}

.channelRowDiv {
    display:flex;
    align-items:center;
    border-bottom:1px solid #3f3f46;
    padding:5px;
}

.channelRowDiv:hover {
    background-color:#3f3f46;
    border:none;
    border-radius:25px;
}

.hashTagIcon, .channelEditButton {
    width:40px;
    height:40px;
    margin:5px;
    padding:5px;
}

.channelEditButton {
    border-radius:100%;
}

.channelNameDiv {
    flex:1;
    min-width:0;
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    text-align:center;
    font-size:20px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.channelRowDiv:hover, .channelEditButton:hover {
    cursor:pointer;
}

.channelEditButton:hover {
    background-color:#2684FF;
    transition:background-color 0.5s ease;
    animation:rotateOnHover 1s ease-in-out;
}

#TextChatMainDisplayDiv {
    flex:1;
    width:100%;
    border-bottom:1px solid #3f3f46;
    min-height:0;
    overflow-y:auto;
}

#TextChatMainTextBoxDiv {
    width:100%;
    height:60px;
    flex-shrink:0;
    padding:5px;
    box-sizing:border-box;
    display:flex;
    align-items:flex;
    gap:10px;
}

#TextChatInput {
    flex:1;
    width:100%;
    height:100%;
    box-sizing:border-box;
    background-color:#3f3f46;
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    text-align:left;
    font-size:15px;
    border:none;
    border-radius:15px;
    padding-left:10px;
}

#TextChatInput::placeholder {
    color:white;
    font-family:"gg sans", "Noto Sans", "Helvetica", Arial, sans-serif;
    text-align:left;
    font-size:15px;
}

#TextChatInput:focus {
    outline:none;
}

#EmojiButton {
    width:50px;
    height:100%;
    border:none;
    border-radius:15px;
    background-color:#616fff;
    color:white;
    font-size:25px;
    text-align:center;
    cursor:pointer;
    flex-shrink: 0;
}

#EmojiButton:hover {
    cursor:pointer;
    background-color:#4f56c2;
    transition:background-color 0.5s ease;
}

#EmojiPickerDiv {
    position:absolute;
    right:250px;
    bottom:70px;
    width:400px;
    height:200px;
    display:grid;
    grid-template-columns:repeat(10, 1fr);
    gap:5px;
    padding:10px;
    box-sizing:border-box;
    overflow-y:auto;
    scrollbar-width:none;
    background-color:#3f3f46;
    border-radius:10px;
}

#EmojiPickerDiv::-webkit-scrollbar {
    display: none;
}

.EmojiPickerButton {
    width:30px;
    height:30px;
    border:none;
    font-size:15px;
    background-color:#616fff;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
}

.EmojiPickerButton:hover {
    cursor:pointer;
    background-color:#4f56c2;
    transition:background-color 0.5s ease;
}